{% load static %}
<div class="footer">
    <div class="container">
        <div class="f-bg-w3l text-center">
            <div class="col-12 w3layouts_footer_grid">

                <h2>Contact <span>Information</span></h2>
                <ul class="con_inner_text">
                    <li><span class="fa fa-map-marker" aria-hidden="true"></span>{{ x.Location }}</li>
                    <li><span class="fa fa-envelope-o" aria-hidden="true"></span> <a
                            href="mailto:{{ x.Email }}">{{ x.Email }}</a>
                    </li>
                    <li><span class="fa fa-phone" aria-hidden="true"></span> {{ x.PhoneNumber }}</li>
                </ul>
                <ul class="social_agileinfo">
                    <li><a href="{{ x.Facebook }}" class="w3_facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="{{ x.Twitter }}" class="w3_twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="{{ x.Instagram }}" class="w3_instagram"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="{{ x.Youtube }}" class="w3_youtube"><i class="fa fa-youtube"></i></a></li>
                </ul>
            </div>
            <div class=" clearfix">
            </div>
        </div>
    </div>
</div>
